.container {
	margin-bottom: 50px;
}
.image-slider {
	background-color: #fceae8;
	border-radius: 10px;
}
.carousel-item {
	padding: 20px 40px;
}
.buy-now-btn {
	background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
	border: none;
	color: white;
	padding: 10px 30px;
	border-radius: 10px;
	cursor: pointer;
}

/* Category Styles */
.category img {
	width: 100px;
}
.cat1,
.cat2,
.cat3 {
	padding: 10px 30px;
	border-radius: 10px;
}
.cat1 {
	background-color: orange;
}
.cat2 {
	background-color: orchid;
}
.cat3 {
	background-color: blue;
}
.products {
	background-color: #ecf0f1;
}
